h1 {
	text-align: center;
	font-family: monospace;
}	

h3 {
	font-size: 30px;
}

img {
	width:125px;
}


header {
	background-color: black;
	color: white;
	margin-bottom: 35px
}

.panel {
	text-align: center;
}

.panel-heading {
	text-align: center;
	
}

.panel-title {
	margin-top: 10px;
}

.row {
	margin-bottom: 3px;
}

p {
	font-size: 20px;
}

#clickCount {
	font-size: 25px;
}