h1 {
	text-align: center;
	font-family: monospace;
}	


img {
	width:125px;
}


header {
	background-color: darkgray;
	margin-bottom: 35px
}

.panel {
	text-align: center;
}

.panel-heading {
	text-align: center;
}